:root {
  --first-back-img: url('https://cdn.discordapp.com/attachments/704039264014565516/1231650845523841255/salta-fondo2.jpg?ex=662697bc&is=6625463c&hm=f7e1a2babed4dc4dbfe6e364e6b8be959bbd3fd6a61de6c3cd209f3f4dfcc251&');
  --second-back-img: url('https://cdn.discordapp.com/attachments/704039264014565516/1231650850712322058/mendoza-fondo1.PNG?ex=6637bb3d&is=6625463d&hm=674e2ff686f721cc46680a644023b369f0c5bdf40ca51790c6952864c50be25a&');
  --third-back-img: url('https://cdn.discordapp.com/attachments/704039264014565516/1231661314447773756/glaciar-prieto-moreno.png?ex=6626a17c&is=66254ffc&hm=df5e434f255e970dc0c1acec12072ff1d19e76cad0b06fc1fccc151c45c20b10&');
}

.first-back {
  width: 100%;
  height: 1000px;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: changing-first-back 30s infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}

.first-back-content {
  width: 50%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.664);
  color: rgb(39, 41, 39);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.first-back-content > h2 {
  font-size: 30px;
}

.first-back-content > p {
  padding-top: 2%;
  font-size: 20px;
}

@media (width <= 400px) {
  .first-back-content {
    margin-top: 10%;

    width: 100%;
    height: 50%;
  }
}

@keyframes changing-first-back {
  0% {
    background-image: var(--first-back-img);
  }
  10% {
    background-image: var(--first-back-img);
  }

  40% {
    background-image: var(--second-back-img);
  }
  60% {
    background-image: var(--second-back-img);
  }

  90% {
    background-image: var(--third-back-img);
  }
  100% {
    background-image: var(--third-back-img);
  }
}

.news {
  width: 100%;
  height: 1000px;
  background-color: aliceblue;

  display: flex;
}

.container-botom {
  width: 100%;
  height: 200px;
  background-color: rgba(37, 37, 37, 0.932);
}
