:root {
  --first-back-img: url('../../resources/mendoza.jpg');
  --second-back-img: url('../../resources/salta.jpg');
  --third-back-img: url('../../resources/glaciar.jpg');
}

.container {
}

.first-back {
  width: 98vw;
  height: 1000px;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: changing-first-back 30s infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}

.first-back-content {
  width: 50%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.664);
  color: rgb(39, 41, 39);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.first-back-content > h2 {
  font-size: 30px;
}

.first-back-content > p {
  padding-top: 2%;
  font-size: 20px;
}

@media (width <= 400px) {
  .first-back-content {
    margin-top: 10%;

    width: 100%;
    height: 50%;
  }
}

@keyframes changing-first-back {
  0% {
    background-image: var(--first-back-img);
  }
  10% {
    background-image: var(--first-back-img);
  }

  40% {
    background-image: var(--second-back-img);
  }
  60% {
    background-image: var(--second-back-img);
  }

  90% {
    background-image: var(--third-back-img);
  }
  100% {
    background-image: var(--third-back-img);
  }
}
