.nav-container {
  width: 98vw;
  height: 50px;
  background-color: rgba(123, 245, 245, 0.637);
  position: fixed;
  display: flex;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.808);

  align-items: center;
  z-index: 1000;
  /* justify-content: center; */
}

.nav-container > nav {
  /* display: flex; */
  position: absolute;
  width: 65vw;
  height: 55px;
  padding-left: 30vw;
}

.links-list {
  list-style: none;
  /* width: 100%; */
  height: 97%;
  display: flex;

  align-items: end;
  justify-content: space-around;
}

.links-list > li {
  font-size: 19px;
  font-weight: 600;
  padding: 13px 10px;
  border-radius: 10%;
  justify-content: center;
  margin-top: 0;
  top: 0;

  transition: background-color 0.5s;
}

.links-list > li:hover {
  background-color: rgb(17, 220, 235);
  cursor: pointer;
}

.links-list > li:active {
  background-color: rgb(77, 107, 109);
}

.links-list > li > a {
  text-decoration: none;
  color: #1a1a1a;
}

#lupa div {
  width: 30px;
  height: 30px;
  background-image: url('../../resources/lupa.png');
  background-size: cover;
}

#arg-flag {
  width: 70px;
  height: 40px;
  background-image: url('../../resources/ARG.gif');
  background-size: cover;
  margin: 0 0 0 4vw;

  overflow: hidden;
}

@media (width <= 520px) {
  .nav-container {
    height: 270px;
    align-items: start;
  }

  .links-list {
    display: grid;
  }

  .links-list > li {
    width: fit-content;
    background-color: rgb(255, 255, 255);
  }

  .container {
    /* padding-top: 230px; */
  }
}

@media (width <= 830px) {
  .nav-container > nav {
    width: 75vw;
    padding-left: 15vw;
  }
}
